.title {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

.text {
  border: 1px solid white;
  line-height: 36px;
  padding: 0 .75rem;
  width: 100%;
}

.input {
  width: 100%;
  display: block;
  padding: 0;
  border: 1px solid gray;
}

.edit {
  margin-left: 0.5em;
}
